<div class="container" style="max-width: 768px; background-color:#FFFFFF;" >
  <%= image_tag 'news', alt: 'SBR', width: 768 %>
  <section class="section">
    <h1 class="title">最新消息 NEWS</h1>
    <% if current_user %>
    <center>
      <%= link_to(news_new_path, class: 'button is-info is-outlined') do %>
        <span class="icon">
          <i class="icon ion-plus"></i>
        </span>
        <span>新增公告</span>
      <% end %>
    </center>
    <% end %>
    <table class="table is-hoverable">
      <thead>
        <tr>
          <th style="width: 5%;"></th>  
          <th style="width: 5%;">類別</th>
          <th style="width: 60%;">標題</th>
          <th style="width: 10%;"><span class="is-hidden-mobile">公告日期</span><span class="is-hidden-tablet">日期</span></th>
          <% if current_user %>
            <th style="width: 20%;">操作</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @pages_ontop.each do |page| %>
          <tr>
            <td><i class="icon ion-pin is-small"></i></td> 
            <td>
              <% if page.classify == "SYSOP" %><span class="tag is-rounded is-danger is-hidden-tablet">系統</span><span class="tag is-rounded is-danger is-hidden-mobile">系統 SYSOP</span>
              <% elsif page.classify == "RACE" %><span class="tag is-rounded is-warning is-hidden-tablet">比賽</span><span class="tag is-rounded is-warning is-hidden-mobile">比賽 RACE</span>
              <% elsif page.classify == "NEWS" %><span class="tag is-rounded is-link is-hidden-tablet">新聞</span><span class="tag is-rounded is-link is-hidden-mobile">新聞 NEWS</span>
              <% elsif page.classify == "AWARD" %><span class="tag is-rounded is-success is-hidden-tablet">得獎</span><span class="tag is-rounded is-success is-hidden-mobile">得獎 AWARD</span>
              <% else %><span class="tag is-rounded is-black is-hidden-tablet">未分類</span><span class="tag is-rounded is-black is-hidden-mobile">未分類 Unkonwn</span><% end %>
            </td>
            <td>
              <%= link_to announcement_path(page) do %>
              <%= page.title %>
              <% end %></td>
            <td><span class="is-hidden-mobile"><%= page.updated_at.to_time.strftime('%Y.%m.%d') %></span><span class="is-hidden-tablet"><%= page.updated_at.to_time.strftime('%y.%m.%d') %></span></td>
            <% if current_user %>
              <td>
                <%= link_to announcement_edit_path(page) do %>
                  <span class="icon">
                    <i class="icon ion-edit"></i>
                  </span>
                <% end %>
                <%= link_to announcement_path(page), method: :delete, data: { confirm: '確定要刪除這個公告？'} do %>
                <span class="icon">
                  <i class="icon ion-trash-b"></i>
                </span>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% @pages_display.each do |page| %>
          <tr>
            <td></td> 
            <td>
              <% if page.classify == "SYSOP" %><span class="tag is-rounded is-danger is-hidden-tablet">系統</span><span class="tag is-rounded is-danger is-hidden-mobile">系統 SYSOP</span>
              <% elsif page.classify == "RACE" %><span class="tag is-rounded is-warning is-hidden-tablet">比賽</span><span class="tag is-rounded is-warning is-hidden-mobile">比賽 RACE</span>
              <% elsif page.classify == "NEWS" %><span class="tag is-rounded is-link is-hidden-tablet">新聞</span><span class="tag is-rounded is-link is-hidden-mobile">新聞 NEWS</span>
              <% elsif page.classify == "AWARD" %><span class="tag is-rounded is-success is-hidden-tablet">得獎</span><span class="tag is-rounded is-success is-hidden-mobile">得獎 AWARD</span>
              <% else %><span class="tag is-rounded is-black is-hidden-tablet">未分類</span><span class="tag is-rounded is-black is-hidden-mobile">未分類 UNKNOWN</span><% end %>
            </td>
            <td><%= link_to announcement_path(page) do %>
              <%= page.title %>
              <% end %></td>
            <td><span class="is-hidden-mobile"><%= page.updated_at.to_time.strftime('%Y.%m.%d') %></span><span class="is-hidden-tablet"><%= page.updated_at.to_time.strftime('%y.%m.%d') %></span></td>
            <% if current_user %>
              <td>
                <%= link_to announcement_edit_path(page) do %>
                  <span class="icon">
                    <i class="icon ion-edit"></i>
                  </span>
                <% end %>
                <%= link_to announcement_path(page), method: :delete, data: { confirm: '確定要刪除這個公告？'} do %>
                <span class="icon">
                  <i class="icon ion-trash-b"></i>
                </span>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--<nav class="pagination is-centered" role="navigation" aria-label="pagination">-->
    <!--  <a class="pagination-previous">Previous</a>-->
    <!--  <a class="pagination-next">Next page</a>-->
    <!--  <ul class="pagination-list">-->
    <!--    <li><a class="pagination-link is-current" aria-label="Goto page 1">1</a></li>-->
    <!--    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>-->
    <!--  </ul>-->
    <!--</nav>-->
  </section>
</div>