<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container" style="max-width: 1003px; ">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <%= image_tag 'logo', alt: 'SBR' %> 鐵人三項
      </a>
    <button class="button navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item is-tab <%= 'is-active' if current_page? '/' %>">最新消息 News</a>
        <a href="/about" class="navbar-item is-tab <%= 'is-active' if current_page? '/about' %>">鐵人三項 About</a>
        <a href="/route" class="navbar-item is-tab <%= 'is-active' if current_page? '/route' %>">賽事路線 Route</a>
        <a href="/score" class="navbar-item is-tab <%= 'is-active' if current_page? '/score' %>">歷屆成績 Score</a>
      </div>
      <div class="navbar-end">
        <% if !session[:user_id] %><%= link_to '登入 Login', login_path, class:'navbar-item is-tab' %><% end %>
        <% if session[:user_id] %><%= link_to '登出 Logout', logout_path, class:'navbar-item is-tab', method: :delete %><% end %>
        <span class="navbar-item is-tab" id="resultDiv"></a>
        <script>
          document.getElementById("resultDiv").innerHTML = moment().locale('zh-tw').format("YYYY/MM/D HH:mm:ss");
          setInterval('document.getElementById("resultDiv").innerHTML = moment().format("YYYY/MM/D HH:mm:ss");',1000);
        </script>
      </div>
    </div>
  </div>
</nav>
<script>
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {
          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);
          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
</script>